from maze import Puzzle, ZombiePlayer

maze = Puzzle.from_file("{{levelname}}")
zombie: ZombiePlayer = maze.player

'''
https://studio.code.org/s/{{course.key}}/lessons/{{lesson.absolute_position}}/levels/{{level.position}}

{{level.config.properties.long_instructions}}

---
{{level.config.properties.short_instructions}}
'''

# When run



# Keep this
Puzzle.done()
