from maze import *

maze = Maze.from_file("{{levelname}}")
bee = maze.player

'''
https://studio.code.org/s/{{course.key}}/lessons/{{lesson.absolute_position}}/levels/{{level.position}}

{{level.config.properties.long_instructions}}

---
{{level.config.properties.short_instructions}}
'''

# When run



# Keep this
done()