from maze import *

maze = Maze.from_file("{{levelname}}")
bee = maze.player

"""
{{level.config.properties.long_instructions}}
"""

# {{level.config.properties.short_instructions}}
# When run



# Keep this
done()